.friendItem {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.online {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #04911c;
  align-self: start;
}
.offline {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ff8383;
  align-self: start;
}
.friendPhoto {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
  box-shadow: 0px -8px 14px 2px #7f7c7c;
  border-radius: 30%;
}
