.headTableTransactions {
  background-color: #25c1fa;
  color: wheat;
}
.secondTd {
  background-color: #dedfe0;
}
.firstTd {
  background-color: #c1d5f6;
}
.transactionHistory {
  margin-bottom: 20px;
}
