.headTableTransactions {
  background-color: #25c1fa;
  color: wheat;
}
.secondTd {
  background-color: #dedfe0;
}
.firstTd {
  background-color: #c1d5f6;
}
.transactionHistory {
  box-shadow: 0px -8px 14px 2px #7f7c7c;
  margin-bottom: 20px;
}
